.container{
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 12%;
}
.newTask{
    display:flex;
    width:30%;
    flex-direction: column;
    border-left: 1px solid lavender;
}
.complete{
    text-decoration: line-through;
}
.hide{
    display: none;
}
.currentTasks{
    display:flex;
    text-align: left;
    width:100%;
    flex-direction: column;
    /* background-color: lightgray; */
}
.notSoImportant{
    color: gray;
    border-bottom: 1px dotted mistyrose ;
}
.important{
    /* color:rgb(190, 65, 225); */
    font-weight: bolder;
    color:gray;
    border-bottom: 1px dotted royalblue;
}
button{
    padding: 2px;
}
.delete{
    color:gray;
    /* margin-left: 30%; */
}
.markComplete{
    color:green;
    font-weight: bold;
}
.button-expanded{
    background-color: lightgreen;
}
label{
    font-size: smaller;
    color: gray;
}