<div class="container">
    <form class="newTask" [formGroup]="form" (ngSubmit)="addTask(form.value)">
        <div class="form-container">
            <div class="row columns">
                <label>Task
                    <input type="text" formControlName="name">
                </label>
                  
                <label>Description
                    <input  type="text" formControlName="description">
                </label>
                  
                <label for="priority">priority</label>
                <label for="priority">1
                    <input type="radio" name="priority" formControlName="priority" value="1"> 
                </label>
                <label for="priority">2
                    <input type="radio" name="priority" formControlName="priority" value="2">
                </label>
                <label for="priority">3
                    <input type="radio" name="priority" formControlName="priority" value="3">
                </label>
                <label for="priority">4
                    <input type="radio" name="priority" formControlName="priority" value="4">
                </label>
                <label for="priority">5
                    <input type="radio" name="priority" formControlName="priority" value="5">      
                </label>    
                <input type="submit" class="button expanded" value="Submit Form" [disabled]="!form.valid">
            </div>
        </div>
    </form>
    <div class="currentTasks">
        <p>lrem ipsm</p>
    </div>
</div>
