<div class="container">

    <div class="currentTasks">
        <div *ngFor="let task of tasks;" [ngClass]="task.completed === true ? 'complete' : 'incomplete'">
            <p>{{task.name}} | {{task.date}}</p>
            <p>{{task.description}}</p> 
            <p>priority: {{task.priority}}</p>
            <button class= "delete" (click)="deleteTask(task._id)">delete</button>             
            <button class= "markComplete" (click)="markComplete(task._id)">done</button>
        </div>
    </div>

    <form class="newTask" [formGroup]="form" (ngSubmit)="addTask(form.value)">
        <div class="form-container">
            <div class="row columns">
                
                <input type="text" formControlName="name" placeholder="new task">
                <br>
                <br>
                <textarea type="text" rows="3" formControlName="description" placeholder="notes"></textarea>
                
                  
                <label for="priority">priority</label><br>
                <label for="priority">1
                    <input type="radio" name="priority" formControlName="priority" value="1"> 
                </label>
                <label for="priority">2
                    <input type="radio" name="priority" formControlName="priority" value="2">
                </label>
                <label for="priority">3
                    <input type="radio" name="priority" formControlName="priority" value="3">
                </label>
                <label for="priority">4
                    <input type="radio" name="priority" formControlName="priority" value="4">
                </label>
                <label for="priority">5
                    <input type="radio" name="priority" formControlName="priority" value="5">      
                </label><br> 

                <button type="submit" value="Submit Form" [disabled]="!form.valid">add</button>
            
            </div>
        </div>
    </form>
</div>
